$opensans: OpenSans;
$opensansB: OpenSansB;
$opensansSB: OpenSansSB;
$opensansR: OpenSansR;
$opensansI: OpenSansI;
$opensansSBI: OpenSansSBI;
$opensansL: OpenSansL;

$color_green: #1ed88f;
$color_green_active: #31e7a0;
$color_gray: #626f78;
$color_gray_two: #969ea5;
$color_gray_three: #b4b9be;
$color_blue: #2495dd;
$color_black: #25343f;
$color_white: #fff;
$color_bg_vacansy: #f6f6f6;